@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;900&display=swap');

body {
    background-color: #f9f0fb;
    color: #6a2c70;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    display: grid;
    overflow-x: auto;
    padding-bottom: 2rem;
}

.head {
    display: flex;
    width: max-content;
    gap: 1rem;
    margin: auto;
}

.title {
    box-sizing: border-box;
    width: 8.6vw;
    max-width: 160px;
    min-width: 110px;
    border: 3px solid #c08497;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    color: #9d5779;
    background-color: #f3d3e1;
    font-weight: 700;
    font-size: clamp(0.7vw, 1rem, 1vw);
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.title:hover {
    background-color: #e5b5ce;
    color: #7a3a58;
}

.board {
    display: flex;
    gap: 1rem;
    margin: 0.5rem auto;
}

.periodo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.disciplinas {
    box-sizing: border-box;
    width: 8.6vw;
    max-width: 160px;
    min-width: 110px;
    height: 6.5vw;
    max-height: 120px;
    min-height: 90px;
    border-radius: 30px;
    border: 3px solid #c08497;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5b2a5a;
    background-color: #f8d7e9;
    font-weight: 700;
    text-align: center;
    font-size: clamp(0.7vw, 1rem, 0.9vw);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 6px rgb(197 143 171 / 0.4);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.disciplinas:hover {
    background-color: #e6bcd5;
    color: #511f4a;
}

.disciplinas.selecionada {
    background-color: #c38d9e;
    color: #fff;
    border-color: #7a3451;
    box-shadow: 0 0 12px 3px #b48a9e96;
}

.disciplinas.liberada {
    background-color: #f7e8f0;
    border-color: #c48db5;
    color: #7a3a70;
    box-shadow: 0 0 12px 2px #c48db591;
}

.disciplinas.faltando {
    background-color: #f4c4cf;
    border-color: #ab3e5e;
    color: #6a2c41;
    box-shadow: 0 0 12px 2px #ab3e5e99;
}

#grafo {
    height: 600px;
    max-width: 1200px;
    margin: 2rem auto;
    border: 3px solid #c08497;
    border-radius: 20px;
    background: #f9f0fb;
    box-shadow: 0 4px 10px rgba(197, 143, 171, 0.25);
}

@media (max-width: 600px) {
    .disciplinas {
        width: 28vw;
        min-width: 110px;
        max-width: 146px;
        height: 21vw;
        min-height: 100px;
        max-height: 112px;
        font-size: clamp(0.7rem, 2.5vw, 1rem);
        border-radius: 25px;
        box-shadow: 0 3px 6px rgb(197 143 171 / 0.5);
    }

    .title {
        width: 28vw;
        min-width: 110px;
        max-width: 146px;
        font-size: clamp(0.7rem, 2.5vw, 1rem);
        border-radius: 20px;
    }
}
